# Python stuff
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Distribution / Exe builds
build/
dist/
*.spec

# VS Code settings
.vscode/

# Large model files (Optional - read warning below)
# *.h5
